  
*{
    margin: 0;
    padding: 0;
}

.headershowcase{
    background-image: url("../images");
    color:grey;
}
.header{
    box-sizing: border-box;
    width: 1300px;
    height: 500px;
    border: 10px 10px solid bisque;
}
#logo-2{
    position: absolute;
    top: 40px;
    right: 100px;

}
#maindiv{
    background-image:  url ("../images/bg.jpg")
    
}


h1{
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    color: chartreuse;
    top: 40px ;
}
.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    height: 100px;
    width: 1o00px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    background-image: url("../images/bg.jpeg");
    border: 5px red solid;
}
.container{
    box-sizing: border-box;
    padding: 10px;
}
img{
    border-radius: 50%;
    mask-image: url(./images/bg.jpeg);
}
h3{
    color: blue;
    font-family: Tahoma;
}
    @media (max-width: 600px){
      .header{
          width: 100px;
          float: none;
      }
    .container{
        width: 100px;
        float: none;
    }
    }

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 16px;
    margin-top: 70px;
}