  
/*{
    margin: 0;
    padding: 0;
}
*/


.header{
    background-image: url("./images/musicbg.jpeg");
    box-sizing: border-box;
    width: 1400px;
    height: 500px;
    border: 10px 10px solid bisque;
}
#musiczone{
    background-color: yellowgreen;
    color: whitesmoke;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    font-weight: bold;
}
.logs{
display: flex;
justify-content: space-between;
}




.container{
    display: flex;
    text-align: center;
  

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;  
}
img{
    border-radius: 50%;
}


.socialmedia{
  display: block;
  flex-direction: column;
  background-color: greenyellow;
  width: 30%;
  padding-top: -100%;
  
}
hr{
    width: 50%;
    color: blue;
}
#ffb-img{
 width: 5px;
}
#text-fb{
    justify-content: space-between;
    text-align: center;
}
#twitter-img{
   width: 5px;
}
#text-tw{
    justify-content: space-between;
    text-align: center;
}
#insta{
    width: 5px;
}
#text-inst{
    justify-content: center;
    text-align: center;
    font-style: oblique;
}
 

#block{
    
    display: flex;
    text-align: center;
    padding-top: 20px;
}
.vl{
    height: 300px;
    border-left: 6px solid green;
}
#vls{
    display: flex;
}
.favorite{
    display: flex;
}
#rhumba{
    background-color: rgb(240, 240, 255);
}

.sub{
    background-color: #20b2cc;
    width: 1400px;
    height: 50px;
    text-align: center;
}
:placeholder-shown{
color: red;
opacity: 0.9;
padding-left: 10px;
}
.main-footer{
    background-color: violet;
    text-align: center; 
    
 }

@media (max-width: 600px){
    .header{
        width: 1400px;
        float: none;
        font-size: 40px;
    }
  .container{
      width: 100px;
      float: none;
  }
}

